* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    padding-bottom: 64px;
    z-index: 100;
}

.textMain {
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 43px;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-image: url(img/water-flow.gif);
    background-size: cover;
    background-position: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.mainContainer,
.menu {
    margin: 11px 0 -24px 47px;
    font-weight: 600;
    font-size: 20px;
    line-height: 11px;
}

.menu {
    cursor: pointer;
}

.mainSkills {
    display: flex;
    margin-top: 218px;

}

#skills {
    margin-left: 86px;
    text-align: center;
    opacity: 0;
    transform: translateX(120px);
}

#skills.animar {
    animation-name: mainSkillsSlide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#mainImg {
    margin-left: 20%;
    max-width: 21%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: all .5s;
    transition: color 0.8s ease-in-out,
        transform 0.8s ease-in-out,
        background-color 0.8s ease-in-out;
    opacity: 0;
    transform: translateX(-120px);
}

#mainImg.animar {
    animation-name: mainSkillsSlide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes mainSkillsSlide {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.mainImg:hover {
    transform: scale(1.2);
}

.hello {
    font-weight: 600;
    font-size: 33px;
    line-height: 50px;
}

.developer {
    font-weight: 500;
    font-size: 25px;
    line-height: 50px;
    margin-top: 20px;
}

.pSkills,
.pFrameW {
    display: inline-block;
    margin-right: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
}

#about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 190px;
}

#about-me h1 {
    font-size: 38px;
    font-weight: 600;
}

#about-me p {
    font-size: 20px;
    line-height: 30px;
    margin: 25px 358px;
    width: 850px
}

#about-me button {
    width: 142px;
    height: 52px;
    background: #9499EA;
    box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 30px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    transition: color 0.8s ease-in-out,
        transform 0.8s ease-in-out,
        background-color 0.8s ease-in-out;
}

#about-me button:hover {
    color: #ffffff;
    transform: scale(1.1);
}

.contacts {
    background-color: #b8baf0;
    padding: 20px;
}

.contacts h2 {
    margin-left: 40px;
}

.contacts p{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.container-contacts {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 4px;
    margin-bottom: 20px;
}

.container-contacts img{
    height: 25px;
}