* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden;
}

.theme {
    display: flex;
    justify-content: end;
    align-items: end;
    float: right;
    position: relative;
    top: 10px;
    right: 10px;
    padding: 1px;
    border: solid 2px;
    border-radius: 20px 20px 20px 20px;
    height: 26px;
    width: 58px;
}

/* Checkbox */

.botao-checkbox {
    appearance: none;
}

/* Ícone de Lua */

.icone-lua img {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-bottom: -4px;
    margin-right: 5px;
    border: 2px solid #ccc;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

/* Ícone do sol*/

.icone-sol img {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-bottom: -4px;
    margin-right: 4px;
    border: 2px solid #ccc;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    filter: invert(1)
}

/* Tema Claro */

body.light {
    background-color: #CCCDE5;
    color: #333;
}

header.light {
    background-color: #b8baf0;
}

/* Tema Escuro */

body.dark {
    background-color: #333;
    color: #CCCDE5;
}

header.dark {
    background-color: #242323;
    color: #CCCDE5;
}

.textMain {
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-image: url(img/water-flow.gif);
    background-size: cover;
    background-position: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.mainContainer,
.menu {
    margin: 32px 0 20px 60px;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    padding-bottom: 46px;
    cursor: pointer;
}

.mainSkills {
    display: flex;
    margin-top: 63px;

}

.skills {
    margin-left: 86px;
    text-align: center;
}

.mainImg {
    margin-left: 20%;
    max-width: 21%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: all .5s;
    transition: color 0.8s ease-in-out,
        transform 0.8s ease-in-out,
        background-color 0.8s ease-in-out;
}

.mainImg:hover {
    transform: scale(1.2);
}

.hello {
    font-weight: 600;
    font-size: 33px;
    line-height: 50px;
}

.developer {
    font-weight: 500;
    font-size: 25px;
    line-height: 50px;
    margin-top: 20px;
}

.pSkills,
.pFrameW {
    display: inline-block;
    margin-right: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.about-me h1 {
    font-size: 38px;
    font-weight: 600;
}

.about-me p {
    font-size: 20px;
    line-height: 30px;
    margin: 25px 358px;
    width: 450px
}

.about-me button {
    width: 142px;
    height: 52px;
    background: #9499EA;
    box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 30px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    transition: color 0.8s ease-in-out,
        transform 0.8s ease-in-out,
        background-color 0.8s ease-in-out;
}

.about-me button:hover {
    color: #ffffff;
    transform: scale(1.1);
}

.projects {
    margin: 150px 0 20px 60px;
}

.contacts {
    margin: 150px 0 20px 60px;
}