* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.textMain {
    margin: 15px;
    display: flex;
    justify-content: center;
}

.mainContainer {
    margin: 15px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.menu {
    font-size: 20px;
    text-align: center;
}

.containerSkills {
    margin: 100px;
}

.mainSkills {
    margin: 15px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.skills {
    position: relative;
    top: 50px;
    right: 300px;
}

.mainImg {
    position: relative;
    height: 200px;
    left: 60%;
    bottom: 40px;
}